@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello there, this is the homepage for our CRUD Operations App. <br /> Please Vist All Users on the bar to test this simple CRUD App</a>.</p>
</div>

<div class="mt-3">
    <a href="@Url.Action("List", "Students")" class="btn btn-primary">List Users</a>
</div>
<div class="mt-3">
    <a href="@Url.Action("Add", "Students")" class="btn btn-primary">Add User</a>
</div>
</div>

